@use '@angular/material' as mat;
@use 'styles/tokens';
@use 'styles/reset';
@use 'styles/typography';

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
    typography: Inter,
    density: 0,
  ));
}

body { background: var(--color-surface-page); }
